/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


body{
    background-color: lightgoldenrodyellow;
    font-family:'Lato', sans-serif;
}

h1, h2{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

input{
    padding: 10px;
    margin: 10px;

}

#submit{
    // @include button;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: grey;
    color: black;
    margin: 5px;
};

#like, {
    // @include button;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: darkgreen;
    color: black;
    margin: 5px;
};

#noLike{
 padding: 5px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: red;
    color: black;
    margin: 5px;
};

ul{
    list-style: none;

};

li{
    margin-left: none;
    

    h3{
        font-size: 1.5em;
        margin:0;
    };
};

p{
    font-size: 1em;
    margin: 0;
    color: darkblue;

};
