/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


body{
    background-color: olivedrab;
    font-family:'Lato', sans-serif;
}

input{
    padding: 10px;
    margin: 10px;

}

#submit{
    // @include button;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15%;
    background-color: grey;
    color: black;
    margin: 5px;
}

#like, #noLike{
    // @include button;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: grey;
    color: black;
    margin: 5px;
    font-size: .5em;
}

ul{
    list-style: none;

}

li{
    margin-left: none;
    font-size: 1.5em;
}
