<!doctype html>

<html>

<head>
    <title>Movies</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src='app.js'></script>
</head>

<body ng-app="MoviesApp">

    <main>
        <h1>My Movie List</h1>
        <section ng-controller="SubmitMovieController">

            <input type="text" id="name" ng-model="name" placeholder="Movie">
            <input type="text" id="release" ng-model="release" placeholder="Release Date">
            <input type="text" id="genre" ng-model="genre" placeholder="Genre">
            <button id="submit" ng-click="submitMovie()">Submit Movie</button>
        </section>

        <section ng-controller="ListOfMoviesController">
            <h2>Rate My Movies</h2>

            <ul>
                <li ng-repeat="newMovie in movies">
                    <h3 id="title">{{ newMovie.title }} </h3>
                    <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ newMovie.poster_path }}" />
                    <div id="info">
                        <p id="overview"> {{newMovie.overview }}</p>
                        <p id="date">Released: {{ newMovie.release_date }}</p>
                        <div id="buttons">
                            <button class="star1" ng-click = "setRating(newMovie, 1)" ng-hide ="newMovie.isRated"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>
                            <button class="star2" ng-click = "setRating(newMovie, 2)" ng-hide ="newMovie.isRated"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>
                            <button class="star3" ng-click = "setRating(newMovie, 3)" ng-hide ="newMovie.isRated"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>
                            <button class="star4" ng-click = "setRating(newMovie, 4)" ng-hide ="newMovie.isRated"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>
                            <button class="star5" ng-click = "setRating(newMovie, 5)" ng-hide ="newMovie.isRated"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></button>
                            <p ng-show= "newMovie.isRated"> You rated {{ newMovie.title}} {{ newMovie.stars }} stars.</p>
                        </div>
                    </div>

                    <!--<button id="like" ng-click="likeMovie(newMovie)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    <button id="noLike" ng-click="noLikeMovie(newMovie)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>-->
                </li>
        </section>
    </main>
</body>

</html>